In [24]:
import numpy as np
import pandas as pd

In [25]:
varus_valgus_original = pd.read_excel('varus_valgus.xlsx')
# Will we treat varus and valgus separately? 
# Will we look at Rachala and Philips separately or as a group?

In [26]:
#Consider a dual index for outliers (use zip command and hier_index)
varus_valgus_original.set_index('Study ID', inplace=True)

In [27]:
#Data cleaning step (missing data etc.)
#df.dropna(axis=1) for columns df.fillna()

In [28]:
#Filter the original data for outliers
#Any deviation of mechanical axis of 10 or more from normal, according to either Nav or XR measurement
varus_valgus_outliers = varus_valgus_original[(abs(varus_valgus_original['PreOp Mechanical axis']) >= 10) |
                                              (abs(varus_valgus_original['Nav PreOp Measurement (degree; Valgus is negative)']) >= 10)]

In [29]:
#Verify varus valgus discrepancy b/w Nav and manual
varus_outliers = varus_valgus_outliers = varus_valgus_outliers[(varus_valgus_outliers['PreOp Mechanical axis'] >= 10) |
                                                              (varus_valgus_outliers['Nav PreOp Measurement (degree; Valgus is negative)'] >= 10)]
varus_outliers

,Laterality (Right =1; Left = 2),Team Member Med Hist Review,Team Member XRay Review,Meets Inclusion: (Y=1; N=2),Nav or Conventional (Nav=1; Con=2),Nav #,MD (Phillips = 1; Rachala = 2),Age at Surgery,Length of FU (Days),Sex (M=1; F=2),...,KSS-Functional Knee Score 3 mo,KSS-Functional Knee Score 1 yr,KSS-Objective Knee Score (Pain) Score 2 wk,KSS-Objective Knee Score (Pain) Score 6 wk,KSS-Objective Knee Score (Pain) Score 3 mo,KSS-Objective Knee Score (Pain) Score 1 yr,LEAS Score 2 wk,LEAS Score 6 wk,LEAS Score 3 mo,LEAS Score 1 yr
Study ID,,,,,,,,,,,,,,,,,,,,,
7,2.0,Hailley,Andrey,1,1,3056.0,1,69,123.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2.0,Hailley,Andrey,1,1,3066.0,1,71,106.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1.0,Hailley,Andrey,1,1,3068.0,1,58,169.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2.0,Hailley,Andrey,1,1,3074.0,1,54,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1.0,Hailley,Andrey,1,1,3082.0,1,77,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,2.0,Hailley,NaN,1,1,3661.0,1,57,362.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,1.0,Hailley,NaN,1,1,3663.0,1,74,328.0,1,...,20.0,NaN,NaN,NaN,50.0,NaN,NaN,NaN,6.0,NaN
1,1.0,Andrey,NaN,1,1,3050.0,1,51,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Andrey,NaN,1,1,3051.0,1,63,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,1.0,NaN,NaN,1,1,3535.0,1,81,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN