In [30]:
import numpy as np
import pandas as pd

In [31]:
varus_original = pd.read_excel('varus.xlsx')

In [32]:
varus_original

,Study ID,Laterality (Right =1; Left = 2),Team Member Med Hist Review,Team Member XRay Review,Meets Inclusion: (Y=1; N=2),Nav or Conventional (Nav=1; Con=2),Nav #,MD (Phillips = 1; Rachala = 2),Age at Surgery,Length of FU (Days),...,KSS-Functional Knee Score 3 mo,KSS-Functional Knee Score 1 yr,KSS-Objective Knee Score (Pain) Score 2 wk,KSS-Objective Knee Score (Pain) Score 6 wk,KSS-Objective Knee Score (Pain) Score 3 mo,KSS-Objective Knee Score (Pain) Score 1 yr,LEAS Score 2 wk,LEAS Score 6 wk,LEAS Score 3 mo,LEAS Score 1 yr
0,7,2.0,Hailley,Andrey,1,1,3056.0,1,69,123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,2.0,Hailley,Andrey,1,1,3066.0,1,71,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17,1.0,Hailley,Andrey,1,1,3068.0,1,58,169.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22,2.0,Hailley,Andrey,1,1,3074.0,1,54,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29,1.0,Hailley,Andrey,1,1,3082.0,1,77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,1120,NaN,NaN,NaN,2,2,NaN,2,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,1121,NaN,NaN,NaN,2,2,NaN,2,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1061,1122,NaN,NaN,NaN,2,2,NaN,2,64,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1062,1123,NaN,NaN,NaN,2,2,NaN,2,64,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063,1124,NaN,NaN,NaN,2,2,NaN,2,68,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
varus_outliers = varus_original[(abs(varus_original['PreOp Mechanical axis']) >= 10) |
                                (abs(varus_original['Nav PreOp Measurement (degree; Valgus is negative)']) >= 10)]

In [34]:
varus_outliers

,Study ID,Laterality (Right =1; Left = 2),Team Member Med Hist Review,Team Member XRay Review,Meets Inclusion: (Y=1; N=2),Nav or Conventional (Nav=1; Con=2),Nav #,MD (Phillips = 1; Rachala = 2),Age at Surgery,Length of FU (Days),...,KSS-Functional Knee Score 3 mo,KSS-Functional Knee Score 1 yr,KSS-Objective Knee Score (Pain) Score 2 wk,KSS-Objective Knee Score (Pain) Score 6 wk,KSS-Objective Knee Score (Pain) Score 3 mo,KSS-Objective Knee Score (Pain) Score 1 yr,LEAS Score 2 wk,LEAS Score 6 wk,LEAS Score 3 mo,LEAS Score 1 yr
0,7,2.0,Hailley,Andrey,1,1,3056.0,1,69,123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,2.0,Hailley,Andrey,1,1,3066.0,1,71,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17,1.0,Hailley,Andrey,1,1,3068.0,1,58,169.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22,2.0,Hailley,Andrey,1,1,3074.0,1,54,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29,1.0,Hailley,Andrey,1,1,3082.0,1,77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,1,1.0,Andrey,NaN,1,1,3050.0,1,51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,2,1.0,Andrey,NaN,1,1,3051.0,1,63,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,9,2.0,Andrey,NaN,1,1,3058.0,1,74,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,308,1.0,Andrey,NaN,1,1,3433.0,1,62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,389,1.0,NaN,NaN,1,1,3535.0,1,81,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN